<section class="footer">
  <div class="row"> <!--row -->
      <div class="col-md-4 darker"><!-- col m 4 -->
        <div class="col-md-12 padding white">
          <h4>Information</h4>
          <hr>
          <h5 class="linktext">Address:</h5>
          <h5 class="linktext">Address:</h5>
          <h5 class="linktext">Address:</h5>
          <hr>
          <p class="small-font grey">&copy, website.oo 2018 All Right Reserved</p>
        </div><!-- col md 12 -->
    </div>
      <div class="col-md-4 darkeh"><!-- col m 4 -->
        <div class="col-md-12 padding white">
          <h4>Subscribe</h4>
          <hr>
          <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2"
            type="text"
            placeholder="Email"
            aria-label="Submit"
            style="margin-bottom:10px; width: 100%"><br>
            <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div><!-- col md 12 -->
      </div>
    <div class="col-md-4 dark"><!-- col m 4 -->
        <div class="col-md-12 padding white">
          <h4>Social</h4>
          <hr>
          <h5><%= link_to 'Facebook', welcome_index_path, class:"linktext" %></h5>
          <h5>Instagram</h5>
          <h5>YouTube</h5>
          <h5>Twitter</h5>
        </div><!-- col md 12 -->
      </div>
    </div><!--row-->
</section>
