
<div class="row" style="padding-top:2%;">
<div class="col"></div>
<div class="col-md-8 text-center">
<%= image_tag 'cxstudio.jpg', style: "width:100%" %>
<div class="jumbotron">

<h1>Welcome#index</h1>
<p><p>
  <%= link_to 'All Articles', articles_path, class: 'btn btn-lg btn-welcome' %>
</p>
</p>
</div><!--jumbotrong-->
</div>
<div class="col"></div>
</div>


<!--<div class="col"> -->
