.footer
{
  background-color: #f31355;
  min-height: 10rem;
  margin-top: 2rem;
}

.col-md-4
{
  min-width: 10rem;
  padding: 0;
  margin: 0;
}

.padding
{
  padding:2rem;
  padding-bottom: 1rem;
}

.white
{
  color: #ffffff;
}

.grey
{
  color: #ddcccc;
}

.small-font
{
  font-size: 11px;
}

.darker
{
  background-color: #441122;
}

.dark
{
  background-color: #552233;
}

.darkeh
{
  background-color: #000000;
}
